server {
  listen 80;

  root {{ document_root }};
  index index.html index.htm;

  server_name {{ server_name }};

  error_page 500 502 503 504 404 /error.html;

  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}